.App {
  text-align: center;
  background-color: #1F1F1F;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}