@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  text-align: center;
  background-color: #1F1F1F;
  height: 100%;
  
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
  }
  .title{
    color: transparent;
    -webkit-text-stroke: 1px #03a9f4;
    z-index: 5;
  }
  .title2{
    color: #03a9f4;
    animation: waterAnim 5s ease-in-out infinite;
    z-index: 5;
  }
  .capture{
    max-width: 100vw;
  }

}

@keyframes waterAnim {
  0%,100%{
    clip-path: polygon(0% 100%, 100% 100%, 100% 33%, 92% 30%, 83% 30%, 75% 30%, 68% 34%, 59% 33%, 50% 34%, 40% 32%, 32% 30%, 24% 32%, 14% 32%, 7% 35%, 0 35%);
  }
  10%{
    

  }
  20%{

  }
  30%{

  }
  40%{

  }
  50%{
    clip-path: polygon(0% 100%, 100% 100%, 100% 50%, 92% 49%, 83% 50%, 76% 53%, 69% 53%, 60% 55%, 51% 54%, 43% 53%, 34% 56%, 26% 58%, 18% 56%, 8% 55%, 0 54%);
  }
  60%{

  }
  70%{

  }
  80%{

  }
  90%{

  }
}